<ion-content [fullscreen]="true">
  <div class="onboarding-page">
    <!-- Swapp Logo -->
    <img src="assets/swapp-logo.png.png" alt="Swapp Logo" class="swapp-logo" />

    <div class="welcome-text">
      <h1>Welcome</h1>
      <p>
        May pera ka?<br />
        Tara swap.
      </p>
    </div>

    <div class="dots">
      <span class="dot active"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <div class="button-container">
      <ion-button class="get-started" expand="block" (click)="goToSignup()">
        Get Started
      </ion-button>

      <ion-button
        class="login-button"
        expand="block"
        fill="clear"
        (click)="goToLogin1()"
      >
        Login
      </ion-button>
    </div>
  </div>
</ion-content>
