/* Force Global Dark Palette */
:root {
  --ion-color-primary: #ff5e00;
  --ion-color-primary-rgb: 255, 94, 0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e05300;
  --ion-color-primary-tint: #ff6e1a;

  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-item-background: #1e1e1e;
  --ion-card-background: #1e1e1e;
  --ion-toolbar-background: #121212;
  --ion-tab-bar-background: #181818;
}