ion-content {
  --background: #050607;
}

.phone-frame {
  width: 402px;
  height: 874px;
  margin: 29px auto 0;

  background: #080a0b;
  color: #ffffff;

  border: 2px solid #303333;
  border-radius: 34px;

  overflow: hidden;

  box-sizing: border-box;
}
